
   
<h1><%= @place.name %> Posts</h1>

<% for post in @place.posts %>
    <div class="post">
    <h2><%= "#{post.title}"%></h2>
    <p class="date"><%= "#{post.posted_on}"%></p>
    <p><%= "#{post.description}"%></p>
    <br>
    <p><a class="button" href="/posts/<%= post.id %>">Details</a></p></div>
    </div>
    <br>
<% end %>

<br>
<p><a class="new_button" href="/posts/new?place_id=<%= @place.id %>">New Post</a></p>
<br>
<p><a class="button" href="/places">Back to My Places</a></p>
<br>
<p><%= button_to "Delete this place", @place, method: :delete %></p>
  